.checkout-product-image {
    width: 150px;
    height: 150px;
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}

td {
    font-size: larger;
}

.checkout-product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 20ch;
}

.checkout-button-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.checkout-form-container {
    display: flex;
    justify-content: center;
}

.checkout-form-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.checkout-form-group input {
    border-radius: 6px;
    padding: 5px;
}

.checkout-form-button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.checkout-form-label {
    font-weight: bold;
    margin-bottom: 10px;
}